<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_common/layout">
<head>
    <title></title>
</head>
<body>
<div class="wrap" layout:fragment="layout_wrap">
    <!-- content_wrap -->
    <div class="employee_list">
        <form action="/add" method="post">
            <table>
                <tr>
                    <td>FIRSTNAME<input id="firstname" name="firstname" type="text" /></td>
                </tr>
                <tr>
                    <td>LASTNAME<input id="lastname" name="lastname" type="text" /></td>
                </tr>
                <tr>
                    <td>EMAIL<input id="email" name="email" type="text" /></td>
                </tr>
                <tr>
                    <td>TELEPHONE<input id="telephone" name="telephone" type="text" /></td>
                </tr>
                <tr>
                    <td>TEAM<input id="team" name="team" type="text" /></td>
                </tr>
                <tr>
                    <td>FLOOR<input id="floor" name="floor" type="text" /></td>
                </tr>
                <tr>
                    <td>SEX<input id="sex" name="sex" type="text" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">add</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <form action="/search" method="get">
        <select id="col" name = "col">
            <option value="">select</option>
            <option value="Name">Name</option>
            <option value="Email">Email</option>
            <option value="Telephone">Telephone</option>
            <option value="Team">Team</option>
            <option value="Floor">Floor</option>
            <option value="Sex">Sex</option>
        </select>
        Search<input id="search" name="search" type="text" />
        <button type="submit">Search</button>
    </form>
    <table>
        <tr>
            <th>Name</th>
            <th>    </th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Team</th>
            <th>Floor</th>
            <th>Sex</th>
            <th>     </th>
        </tr>
        <tr data-th-each="employee : ${employeeList}">
            <td data-th-text="${employee.firstname}"></td>
            <td data-th-text="${employee.lastname}"></td>
            <td data-th-text="${employee.email}"></td>
            <td data-th-text="${employee.telephone}"></td>
            <td data-th-text="${employee.team}"></td>
            <td data-th-text="${employee.floor}"></td>
            <td data-th-text="${employee.sex}"></td>
            <td><a th:href="@{'delete/'+${employee.id}}">delete</a></td>
            <td><a th:href="@{'update/'+${employee.id}}">update</a></td>
        </tr>
        <tr>
            <td data-th-text="${totalPages}"></td>
        </tr>
    </table>
</div>
</body>
</html>

